<div class = "container text-center border-bottom mb-5">
<p id="notice"><%= notice %></p>

<h1>Posts</h1>
</div>

  <% @posts.each do |post| %>
    

    <div class="container text-light">
      <h2><%= post.title %></h2>
      <p>By <%=User.find_by_id(post.user_id).email%> | <%= post.lang %><p>
      
      <code class = "language-<%=post.lang%> p-1"><%= post.content %></code><br><br>
      
      <%= link_to 'Show', post %> | <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>


  <% end %>
  

<br>


