<div class = "container text-center border-bottom mb-5">
<p id="notice"><%= notice %></p>

<h1>Posts</h1>
</div>

  <%# <% @posts.each do |post| %> 

  <%@posts.reverse.each do |post|%>
    <%
    post_username = User.find_by_id(post.user_id).email.match(/^.*(?=@)/)
    
    %>

    <div class="container text-light">
      <h2><%= post.title %></h2>
      <p>By <%=post_username%> | <%= post.lang %><p>
      
      <pre class = "line-numbers" data-start="1"><code class = "language-<%=post.lang%> p-1" style="width:100%"><%= post.content %></code></pre>
      <%if post.user_id == current_user.id%>
      <%= link_to 'Show', post %> | <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%end%>
    </div>
    <br><br>
  <% end %>
  




