<div class = "container">

<p>
  <h2>Title: <%= @post.title %></h2>
</p>

<p>
  <strong>Content:</strong>
  <pre class = "line-numbers" data-start="1"><code class = "language-<%=@post.lang%> p-1" style="width:100%"><%= @post.content %></code></pre>
</p>

<p>
  <strong>Lang:</strong>
  <%= @post.lang %>
</p>
<%if user_signed_in? && @post.user_id == current_user.id%>
  <%= link_to 'Edit', edit_post_path(@post) %> |  
<%end%>
<%= link_to 'Back', posts_path %>
</div>
